* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
li,
.click {
  cursor: pointer;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.red-link-btn {
  color: #fff;
  background-color: #c40b0b;
  padding-left: 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 211px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red-link-btn .red-link-arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 100vh;
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;
}

.header .logo-and-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
}

.header .logo-and-contact .hours,
.header .logo-and-contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .logo-and-contact .hours-inner,
.header .logo-and-contact .phone-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  padding-left: 10px;
}

.header .navigation {
  color: #02133c;
  background-color: #fff;
  padding: 12px 40px 16px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
}

.header .navigation .navigation__list-item {
  padding: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .navigation .navigation__list-item .expand {
  padding-left: 5px;
}

.header .navigation .navigation__list-item .nav-hover {
  display: none;
  position: absolute;
}

.header .navigation .navigation__list-item:hover .nav-hover {
  position: absolute;
  top: 20px;
  left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.header .navigation .navigation__list-item .nav-hover-item {
  padding: 8px 14px;
}

.header .navigation .navigation__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation .navigation__images div {
  padding: 8px;
}

.header .navigation .shop-cart {
  position: relative;
}

.header .navigation .shop-cart::before {
  content: "2";
  color: #fff;
  background-color: #c40b0b;
  border-radius: 50%;
  font-size: 10px;
  line-height: 22px;
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.15px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 5px;
}

.header__banner {
  margin-top: 126px;
}

.header__banner .header__banner-heading {
  color: #fff;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.header__banner .header__banner-btn {
  margin-top: 48px;
}

.banner {
  background: url("../images/banner-bg.jpg") no-repeat;
  background-size: cover;
  padding: 112px 0 120px 0;
}

.banner__inner {
  width: 50%;
  margin-left: 50%;
}

.banner__inner .banner__inner-heading {
  color: #fff;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}
/*# sourceMappingURL=style.css.map */