//  VARIABLES & GENERAL STYLES

$dark-red: #c40b0b;
$light-red: #e30b0b;
$gray: #4b4b4b;
$blue: #02133c;
$white: #fff;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
a,
li,
.click {
  cursor: pointer;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
}
.red-link-btn {
  color: $white;
  background-color: $dark-red;
  padding-left: 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
  height: 48px;
  box-sizing: border-box;

  .red-link-arrow {
    box-sizing: border-box;
  }
}
button[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.overhead {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: $gray;
  display: flex;

  .overhead-heading {
    padding-left: 16px;
  }
}
.section-heading {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: $blue;
  padding-top: 33px;
}

// HEADER STYLES
.header {
  height: 100vh;
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;

  .logo-and-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;

    .hours,
    .phone {
      display: flex;
      align-items: flex-start;
    }
    .hours-inner,
    .phone-inner {
      display: flex;
      flex-direction: column;
      color: $white;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.15px;
      padding-left: 10px;
    }
  }

  .navigation {
    color: $blue;
    background-color: $white;
    padding: 12px 40px 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation__list {
      display: flex;
      font-weight: 900;
    }
    .navigation__list-item {
      padding: 0 18px;
      display: flex;
      align-items: center;
      position: relative;

      .expand {
        padding-left: 5px;
      }

      .nav-hover {
        display: none;
        position: absolute;
      }

      &:hover .nav-hover {
        position: absolute;
        top: 20px;
        left: 18px;
        display: flex;
        flex-direction: column;
        background-color: $white;
      }
      .nav-hover-item {
        padding: 8px 14px;
      }
    }

    .navigation__images {
      display: flex;

      div {
        padding: 8px;
      }
    }
    .shop-cart {
      position: relative;
    }
    .shop-cart::before {
      content: "2";
      color: $white;
      background-color: $dark-red;
      border-radius: 50%;
      font-size: 10px;
      line-height: 22px;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      letter-spacing: 0.15px;
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 5px;
    }
  }
}
.header__banner {
  margin-top: 126px;

  .header__banner-heading {
    color: $white;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
  }
  .header__banner-btn {
    margin-top: 48px;
  }
}

// ABOUT AND PROMISE STYLES

.about-and-promise {
  background-color: #f5f5f5;
  // position: relative;
}

.about {
  background: rgb(255, 255, 255);
  background-image: url("../images/gears-bg.png");
  background-image: url("../images/gears-bg.png"),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 84%,
      rgba(245, 245, 245, 1) 84%
    );
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 87px;
  // position: absolute;
  // top: -80px;
  // margin-top: -80px;

  .about__heading {
    max-width: 80%;
  }
  .about__overhead {
    padding-top: 80px;
  }
  .about__text {
    padding: 36px 0 54px 0;
  }
}

.promise {
  padding: 110px 0 121px 0;

  .promise__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 27px;
    padding-top: 68px;
  }
  .promise__grid-item {
    display: flex;
    align-items: flex-start;

    .image {
      padding-right: 23px;
    }

    h3 {
      color: $blue;
      font-weight: 900;
      font-size: 19px;
      line-height: 26px;
    }
    p {
      color: $gray;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      padding-top: 20px;
    }
  }
}

// BANNER STYLES
.banner {
  background: url("../images/banner-bg.jpg") no-repeat;
  background-size: cover;
  padding: 112px 0 120px 0;
}
.banner__inner {
  width: 50%;
  margin-left: 50%;

  .banner__inner-heading {
    color: $white;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
  }
}

// SERVICES SECTION STYLES

.services {
  padding: 110px 0 122px 0;
  background: #f5f5f5 url("../images/service-bg.png");
}
.services__grid {
  padding: 78px 0 66px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 24px;
}
.services__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 43px;
  background-color: $white;

  &:hover {
    box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
      0px 8px 16px rgba(38, 38, 38, 0.24);
  }

  img {
    width: 63px;
    height: 63px;
    margin: 0 auto;
  }
  h3 {
    padding: 33px 0 20px 0;
    color: $blue;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
  }
  p {
    color: $gray;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
.services__btn {
  width: 145px;
  height: 48px;
  margin: 0 auto;
  box-sizing: border-box;
}

// APPOINTMENT FORM STYLES

.form {
  background: $blue url("../images/form-bg.png") no-repeat;
  padding: 130px 0 210px 0;
}
.form__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.form__inner-container {
  background-color: $white;
  padding: 76px 57px;
  text-align: center;

  .form__inner-heading {
    color: $blue;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 48px;
  }

  .inputs {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 48px 48px;
    gap: 22px;
    justify-items: stretch;
  }
  .input {
    background-color: #f5f5f5;
    padding: 17px 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #959595;
    border: none;
    outline: none;
  }
  .textarea {
    margin: 22px 0 30px 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .red-link-btn {
    margin-right: 0;
    grid-column-start: 2;
    font-family: "Roboto", sans-serif;
  }
}
.form__inner-text {
  width: 50%;

  h3 {
    color: $white;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  h1 {
    color: $dark-red;
    font-weight: 900;
    font-size: 96px;
    line-height: 56px;
    padding: 46px 0;
  }
  h4 {
    color: $white;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
  }
}

// GALLERY AND CUSTOMERS STYLES

.gallery-and-customers {
  background: #f5f5f5 url("../images/gallery-customer-bg.png") no-repeat;
  background-position: center left;
  padding-bottom: 130px;
}

.gallery {
  background: linear-gradient(180deg, #fff 84%, #f5f5f5 84%);
  padding: 100px 87px 0 87px;
}

.customers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  padding-top: 120px;
}
.customer__review {
  background-color: $white;
  padding: 44px;

  .customer__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $gray;
  }
  .customer__info {
    display: flex;
    padding-top: 18px;
    align-items: center;

    img {
      margin-right: 17px;
    }
  }
}

// IMPACT STYLES
.impact {
  background: #f5f5f5 url("../images/impact-bg.png") no-repeat;
  background-size: 100% 80%;
  background-position: center center;
}
.impact__grid {
  display: grid;
  grid-template-columns: repeat(4, 237px);
  grid-template-rows: repeat(3, minmax(76px));
  gap: 24px;
  grid-template-areas:
    "left left right right"
    "single single single single"
    "low low low low";
}
.impact__grid-item {
  .impact__overhead {
    color: #d5d5d5;
  }
  .impact__heading {
    color: $white;
  }
}
.first {
  grid-area: left;
  align-self: center;
}
.second {
  grid-area: right;
}
.last-grid-item {
  background-color: $white;
  color: $blue;
  padding: 44px 70px;
  grid-area: low;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: $blue;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    max-width: 60%;
  }
}

.impact__flex-item {
  align-self: center;
  display: flex;
  align-items: flex-start;

  img {
    padding-right: 11px;
  }

  .red {
    color: $dark-red;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
  }
  .light {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
  }
}

// FOOTER STYLES
.foot {
  background-color: #f5f5f5;
  padding: 88px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__inner-left {
  max-width: 25%;

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    padding: 23px 0 33px 0;
  }
}
.footer__inner-icons {
  img {
    padding: 0 10px;
  }
}
.footer__inner-centre {
  max-width: 45%;

  .footer__inner-heading {
    padding-bottom: 28px;
  }
  .footer__inner-heading,
  .footer__li {
    color: $gray;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
  }

  .footer__centre-flex {
    display: flex;
    justify-content: space-around;

    .footer__li {
      padding: 11px 37px 11px 0;
    }
  }
}
.footer__inner-right {
  max-width: 30%;

  h3 {
    color: $gray;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    padding-bottom: 20px;
  }

  div {
    display: flex;
    align-items: center;
    padding: 8px;
    p {
      color: $gray;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.15px;
      padding-left: 18px;
    }
  }
}

// UNDER FOOT CONTAINER
.under-foot {
  background-color: $blue;
  color: #959595;
  padding: 20px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15px;
    font-weight: 500;

    span {
      font-weight: 900;
    }
  }
}
